@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.logo {
    font-size: 20px;
    margin-top: 12px;
}

.grey {
    color: #898989;
    font-weight: 500;
}

.conteiner {
    width: 1024px;
    display:flex;
    margin: auto;
    color: #008afb;
    font-weight: 600;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #008afb;
}

body {
    font-family: 'Varela Round';
    background-color: #f5f5f5;
}

ul {
    list-style-type:  none;
    width: 200px;
    display:flex;
    justify-content: space-between;
}

footer {
    text-align: center;
}

main {
    width: 900px;
    margin: auto;
    color:#008afb;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    color: #e21e7f;
    font-size: 30px;
}

.one {
    padding: 16px;
    background-color: #fff;
    margin: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.cont {
    width: 200px;
    padding: 16px;
    background-color: #f5f5f5;
    margin: 30px;
    border-radius: 15px;
    line-height: 7px;
}

h4 {
    color: #e21e7f;
    font-size: 18px;
}

.h5 {
    color: #000;
}

.text {
    width: 500px;
    color: #000;
}

.two {
    margin: 30px;
    width: 740px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.one1 {
    padding: 16px;
    background-color: #fff;
    margin: 50px;
    border-radius: 20px;
    align-items: center;
}

.logo {
    margin: 30px 0px 0px 30px;
    display: flex;
}

.h2 {
    margin: 20px;
}


.cont1 {
    align-items: center;
    text-align: center;
    width: 200px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 15px;
    margin: 10px;
}

.h1 {
    color: #008afb;
    margin: 20px;
}